USE [SklepMotoryzacyjny]
GO
/****** Object:  Table [dbo].[AdresyKlientow]    Script Date: 17.01.2026 22:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdresyKlientow](
	[IdAdresu] [int] IDENTITY(1,1) NOT NULL,
	[IdKlienta] [int] NULL,
	[Miasto] [nvarchar](50) NULL,
	[Ulica] [nvarchar](100) NULL,
	[KodPocztowy] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAdresu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dostawcy]    Script Date: 17.01.2026 22:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dostawcy](
	[IdDostawcy] [int] IDENTITY(1,1) NOT NULL,
	[NazwaFirmy] [nvarchar](100) NULL,
	[Telefon] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDostawcy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dostawy]    Script Date: 17.01.2026 22:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dostawy](
	[IdDostawy] [int] IDENTITY(1,1) NOT NULL,
	[IdDostawcy] [int] NULL,
	[IdPracownika] [int] NULL,
	[DataDostawy] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDostawy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategorie]    Script Date: 17.01.2026 22:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategorie](
	[IdKategorii] [int] IDENTITY(1,1) NOT NULL,
	[NazwaKategorii] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdKategorii] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Klienci]    Script Date: 17.01.2026 22:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Klienci](
	[IdKlienta] [int] IDENTITY(1,1) NOT NULL,
	[Imie] [nvarchar](50) NULL,
	[Nazwisko] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[Telefon] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdKlienta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Koszyk]    Script Date: 17.01.2026 22:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Koszyk](
	[IdKoszyka] [int] IDENTITY(1,1) NOT NULL,
	[IdKlienta] [int] NULL,
	[IdProduktu] [int] NULL,
	[IleSztuk] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdKoszyka] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Opinie]    Script Date: 17.01.2026 22:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Opinie](
	[IdOpinii] [int] IDENTITY(1,1) NOT NULL,
	[IdKlienta] [int] NULL,
	[IdProduktu] [int] NULL,
	[Ocena] [int] NULL,
	[Komentarz] [nvarchar](max) NULL,
	[DataOpinii] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdOpinii] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PozycjeZamowienia]    Script Date: 17.01.2026 22:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PozycjeZamowienia](
	[IdPozycji] [int] IDENTITY(1,1) NOT NULL,
	[IdZamowienia] [int] NULL,
	[IdProduktu] [int] NULL,
	[Ilosc] [int] NULL,
	[CenaJednostkowa] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPozycji] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pracownicy]    Script Date: 17.01.2026 22:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pracownicy](
	[IdPracownika] [int] IDENTITY(1,1) NOT NULL,
	[Imie] [nvarchar](50) NULL,
	[Nazwisko] [nvarchar](50) NULL,
	[IdStanowiska] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPracownika] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producenci]    Script Date: 17.01.2026 22:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producenci](
	[IdProducenta] [int] IDENTITY(1,1) NOT NULL,
	[NazwaFirmy] [nvarchar](100) NULL,
	[Kraj] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Produkty]    Script Date: 17.01.2026 22:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produkty](
	[IdProduktu] [int] IDENTITY(1,1) NOT NULL,
	[NazwaProduktu] [nvarchar](200) NULL,
	[IdKategorii] [int] NULL,
	[IdProducenta] [int] NULL,
	[Cena] [decimal](10, 2) NULL,
	[IloscNaMagazynie] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProduktu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stanowiska]    Script Date: 17.01.2026 22:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stanowiska](
	[IdStanowiska] [int] IDENTITY(1,1) NOT NULL,
	[NazwaStanowiska] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdStanowiska] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statusy]    Script Date: 17.01.2026 22:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statusy](
	[IdStatusu] [int] IDENTITY(1,1) NOT NULL,
	[NazwaStatusu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdStatusu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SzczegolyDostawy]    Script Date: 17.01.2026 22:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SzczegolyDostawy](
	[IdSzczegolow] [int] IDENTITY(1,1) NOT NULL,
	[IdDostawy] [int] NULL,
	[IdProduktu] [int] NULL,
	[Ilosc] [int] NULL,
	[CenaHurtowa] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSzczegolow] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zamowienia]    Script Date: 17.01.2026 22:20:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zamowienia](
	[IdZamowienia] [int] IDENTITY(1,1) NOT NULL,
	[IdKlienta] [int] NULL,
	[IdStatusu] [int] NULL,
	[DataZamowienia] [datetime] NULL,
	[SumaCalkowita] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdZamowienia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AdresyKlientow] ON 

INSERT [dbo].[AdresyKlientow] ([IdAdresu], [IdKlienta], [Miasto], [Ulica], [KodPocztowy]) VALUES (1, 15, N'Warszawa', N'Ulica 15', N'00-115')
INSERT [dbo].[AdresyKlientow] ([IdAdresu], [IdKlienta], [Miasto], [Ulica], [KodPocztowy]) VALUES (2, 20, N'Warszawa', N'Ulica 20', N'00-120')
INSERT [dbo].[AdresyKlientow] ([IdAdresu], [IdKlienta], [Miasto], [Ulica], [KodPocztowy]) VALUES (3, 36, N'Krakow', N'Ulica 36', N'00-136')
GO
SET IDENTITY_INSERT [dbo].[AdresyKlientow] OFF
GO
SET IDENTITY_INSERT [dbo].[Dostawcy] ON 

INSERT [dbo].[Dostawcy] ([IdDostawcy], [NazwaFirmy], [Telefon]) VALUES (1, N'AutoCzesci', N'111222')
INSERT [dbo].[Dostawcy] ([IdDostawcy], [NazwaFirmy], [Telefon]) VALUES (2, N'HurtMax', N'444555')
INSERT [dbo].[Dostawcy] ([IdDostawcy], [NazwaFirmy], [Telefon]) VALUES (3, N'Czesci24', N'777888')
SET IDENTITY_INSERT [dbo].[Dostawcy] OFF
GO
SET IDENTITY_INSERT [dbo].[Dostawy] ON 

INSERT [dbo].[Dostawy] ([IdDostawy], [IdDostawcy], [IdPracownika], [DataDostawy]) VALUES (1, 2, 2, CAST(N'2025-12-26T02:51:41.050' AS DateTime))
INSERT [dbo].[Dostawy] ([IdDostawy], [IdDostawcy], [IdPracownika], [DataDostawy]) VALUES (2, 3, 3, CAST(N'2025-12-26T02:51:41.053' AS DateTime))
INSERT [dbo].[Dostawy] ([IdDostawy], [IdDostawcy], [IdPracownika], [DataDostawy]) VALUES (3, 4, 4, CAST(N'2025-12-26T02:51:41.053' AS DateTime))
SET IDENTITY_INSERT [dbo].[Dostawy] OFF
GO
SET IDENTITY_INSERT [dbo].[Kategorie] ON 

INSERT [dbo].[Kategorie] ([IdKategorii], [NazwaKategorii]) VALUES (1, N'Silnik')
INSERT [dbo].[Kategorie] ([IdKategorii], [NazwaKategorii]) VALUES (2, N'Hamulce')
INSERT [dbo].[Kategorie] ([IdKategorii], [NazwaKategorii]) VALUES (3, N'Zawieszenie')
SET IDENTITY_INSERT [dbo].[Kategorie] OFF
GO
SET IDENTITY_INSERT [dbo].[Klienci] ON 

INSERT [dbo].[Klienci] ([IdKlienta], [Imie], [Nazwisko], [Email], [Telefon]) VALUES (1, N'Robert', N'Wojcik', N'robert.wojcik67@mail.pl', N'+48500100093')
INSERT [dbo].[Klienci] ([IdKlienta], [Imie], [Nazwisko], [Email], [Telefon]) VALUES (2, N'Tomasz', N'Wojcik', N'tomasz.wojcik83@mail.pl', N'+48500100011')
INSERT [dbo].[Klienci] ([IdKlienta], [Imie], [Nazwisko], [Email], [Telefon]) VALUES (3, N'Robert', N'Kozlowski', N'robert.kozlowski46@mail.pl', N'+48500100005')
SET IDENTITY_INSERT [dbo].[Klienci] OFF
GO
SET IDENTITY_INSERT [dbo].[Koszyk] ON 

INSERT [dbo].[Koszyk] ([IdKoszyka], [IdKlienta], [IdProduktu], [IleSztuk]) VALUES (1, 38, 126, 5)
INSERT [dbo].[Koszyk] ([IdKoszyka], [IdKlienta], [IdProduktu], [IleSztuk]) VALUES (2, 1, 32, 4)
INSERT [dbo].[Koszyk] ([IdKoszyka], [IdKlienta], [IdProduktu], [IleSztuk]) VALUES (3, 22, 117, 6)
SET IDENTITY_INSERT [dbo].[Koszyk] OFF
GO
SET IDENTITY_INSERT [dbo].[Opinie] ON 

INSERT [dbo].[Opinie] ([IdOpinii], [IdKlienta], [IdProduktu], [Ocena], [Komentarz], [DataOpinii]) VALUES (1, 29, 131, 4, N'Dobra jakosc', CAST(N'2025-12-26' AS Date))
INSERT [dbo].[Opinie] ([IdOpinii], [IdKlienta], [IdProduktu], [Ocena], [Komentarz], [DataOpinii]) VALUES (2, 35, 73, 4, N'Szybko', CAST(N'2025-12-26' AS Date))
INSERT [dbo].[Opinie] ([IdOpinii], [IdKlienta], [IdProduktu], [Ocena], [Komentarz], [DataOpinii]) VALUES (3, 39, 122, 3, N'Wszystko OK', CAST(N'2025-12-26' AS Date))
SET IDENTITY_INSERT [dbo].[Opinie] OFF
GO
SET IDENTITY_INSERT [dbo].[PozycjeZamowienia] ON 

INSERT [dbo].[PozycjeZamowienia] ([IdPozycji], [IdZamowienia], [IdProduktu], [Ilosc], [CenaJednostkowa]) VALUES (1, 3, 113, 4, CAST(230.00 AS Decimal(10, 2)))
INSERT [dbo].[PozycjeZamowienia] ([IdPozycji], [IdZamowienia], [IdProduktu], [Ilosc], [CenaJednostkowa]) VALUES (2, 11, 7, 3, CAST(180.00 AS Decimal(10, 2)))
INSERT [dbo].[PozycjeZamowienia] ([IdPozycji], [IdZamowienia], [IdProduktu], [Ilosc], [CenaJednostkowa]) VALUES (3, 4, 40, 10, CAST(278.00 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[PozycjeZamowienia] OFF
GO
SET IDENTITY_INSERT [dbo].[Pracownicy] ON 

INSERT [dbo].[Pracownicy] ([IdPracownika], [Imie], [Nazwisko], [IdStanowiska]) VALUES (1, N'Anna', N'Gora', 4)
INSERT [dbo].[Pracownicy] ([IdPracownika], [Imie], [Nazwisko], [IdStanowiska]) VALUES (2, N'Julia', N'Sowa', 5)
INSERT [dbo].[Pracownicy] ([IdPracownika], [Imie], [Nazwisko], [IdStanowiska]) VALUES (3, N'Beata', N'Mroz', 5)
SET IDENTITY_INSERT [dbo].[Pracownicy] OFF
GO
SET IDENTITY_INSERT [dbo].[Producenci] ON 

INSERT [dbo].[Producenci] ([IdProducenta], [NazwaFirmy], [Kraj]) VALUES (1, N'Bosch', N'Niemcy')
INSERT [dbo].[Producenci] ([IdProducenta], [NazwaFirmy], [Kraj]) VALUES (2, N'Brembo', N'Wlochy')
INSERT [dbo].[Producenci] ([IdProducenta], [NazwaFirmy], [Kraj]) VALUES (3, N'Mann', N'Niemcy')
SET IDENTITY_INSERT [dbo].[Producenci] OFF
GO
SET IDENTITY_INSERT [dbo].[Produkty] ON 

INSERT [dbo].[Produkty] ([IdProduktu], [NazwaProduktu], [IdKategorii], [IdProducenta], [Cena], [IloscNaMagazynie]) VALUES (1, N'Chlodnica', 4, 1, CAST(333.00 AS Decimal(10, 2)), 22)
INSERT [dbo].[Produkty] ([IdProduktu], [NazwaProduktu], [IdKategorii], [IdProducenta], [Cena], [IloscNaMagazynie]) VALUES (2, N'Reflektor', 3, 2, CAST(116.00 AS Decimal(10, 2)), 44)
INSERT [dbo].[Produkty] ([IdProduktu], [NazwaProduktu], [IdKategorii], [IdProducenta], [Cena], [IloscNaMagazynie]) VALUES (3, N'Reflektor', 1, 1, CAST(151.00 AS Decimal(10, 2)), 101)
GO
SET IDENTITY_INSERT [dbo].[Produkty] OFF
GO
SET IDENTITY_INSERT [dbo].[Stanowiska] ON 

INSERT [dbo].[Stanowiska] ([IdStanowiska], [NazwaStanowiska]) VALUES (1, N'Dyrektor')
INSERT [dbo].[Stanowiska] ([IdStanowiska], [NazwaStanowiska]) VALUES (2, N'Manager')
INSERT [dbo].[Stanowiska] ([IdStanowiska], [NazwaStanowiska]) VALUES (3, N'Sprzedawca')
SET IDENTITY_INSERT [dbo].[Stanowiska] OFF
GO
SET IDENTITY_INSERT [dbo].[Statusy] ON 

INSERT [dbo].[Statusy] ([IdStatusu], [NazwaStatusu]) VALUES (1, N'Nowe')
INSERT [dbo].[Statusy] ([IdStatusu], [NazwaStatusu]) VALUES (2, N'Oplacone')
INSERT [dbo].[Statusy] ([IdStatusu], [NazwaStatusu]) VALUES (3, N'W realizacji')
SET IDENTITY_INSERT [dbo].[Statusy] OFF
GO
SET IDENTITY_INSERT [dbo].[SzczegolyDostawy] ON 

INSERT [dbo].[SzczegolyDostawy] ([IdSzczegolow], [IdDostawy], [IdProduktu], [Ilosc], [CenaHurtowa]) VALUES (1, 10, 118, 66, CAST(242.25 AS Decimal(10, 2)))
INSERT [dbo].[SzczegolyDostawy] ([IdSzczegolow], [IdDostawy], [IdProduktu], [Ilosc], [CenaHurtowa]) VALUES (2, 28, 82, 46, CAST(141.00 AS Decimal(10, 2)))
INSERT [dbo].[SzczegolyDostawy] ([IdSzczegolow], [IdDostawy], [IdProduktu], [Ilosc], [CenaHurtowa]) VALUES (3, 5, 6, 93, CAST(146.25 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[SzczegolyDostawy] OFF
GO
SET IDENTITY_INSERT [dbo].[Zamowienia] ON 

INSERT [dbo].[Zamowienia] ([IdZamowienia], [IdKlienta], [IdStatusu], [DataZamowienia], [SumaCalkowita]) VALUES (1, 2, 2, CAST(N'2025-12-26T02:51:41.017' AS DateTime), CAST(6876.00 AS Decimal(10, 2)))
INSERT [dbo].[Zamowienia] ([IdZamowienia], [IdKlienta], [IdStatusu], [DataZamowienia], [SumaCalkowita]) VALUES (2, 3, 3, CAST(N'2025-12-26T02:51:41.017' AS DateTime), CAST(4321.00 AS Decimal(10, 2)))
INSERT [dbo].[Zamowienia] ([IdZamowienia], [IdKlienta], [IdStatusu], [DataZamowienia], [SumaCalkowita]) VALUES (3, 4, 4, CAST(N'2025-12-26T02:51:41.017' AS DateTime), CAST(11970.00 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[Zamowienia] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Klienci__A9D1053496DF9B4F]    Script Date: 17.01.2026 22:20:18 ******/
ALTER TABLE [dbo].[Klienci] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Dostawy] ADD  DEFAULT (getdate()) FOR [DataDostawy]
GO
ALTER TABLE [dbo].[Koszyk] ADD  DEFAULT ((1)) FOR [IleSztuk]
GO
ALTER TABLE [dbo].[Opinie] ADD  DEFAULT (getdate()) FOR [DataOpinii]
GO
ALTER TABLE [dbo].[Produkty] ADD  DEFAULT ((0)) FOR [IloscNaMagazynie]
GO
ALTER TABLE [dbo].[Zamowienia] ADD  DEFAULT (getdate()) FOR [DataZamowienia]
GO
ALTER TABLE [dbo].[AdresyKlientow]  WITH CHECK ADD FOREIGN KEY([IdKlienta])
REFERENCES [dbo].[Klienci] ([IdKlienta])
GO
ALTER TABLE [dbo].[Dostawy]  WITH CHECK ADD FOREIGN KEY([IdDostawcy])
REFERENCES [dbo].[Dostawcy] ([IdDostawcy])
GO
ALTER TABLE [dbo].[Dostawy]  WITH CHECK ADD FOREIGN KEY([IdPracownika])
REFERENCES [dbo].[Pracownicy] ([IdPracownika])
GO
ALTER TABLE [dbo].[Koszyk]  WITH CHECK ADD FOREIGN KEY([IdKlienta])
REFERENCES [dbo].[Klienci] ([IdKlienta])
GO
ALTER TABLE [dbo].[Koszyk]  WITH CHECK ADD FOREIGN KEY([IdProduktu])
REFERENCES [dbo].[Produkty] ([IdProduktu])
GO
ALTER TABLE [dbo].[Opinie]  WITH CHECK ADD FOREIGN KEY([IdKlienta])
REFERENCES [dbo].[Klienci] ([IdKlienta])
GO
ALTER TABLE [dbo].[Opinie]  WITH CHECK ADD FOREIGN KEY([IdProduktu])
REFERENCES [dbo].[Produkty] ([IdProduktu])
GO
ALTER TABLE [dbo].[PozycjeZamowienia]  WITH CHECK ADD FOREIGN KEY([IdProduktu])
REFERENCES [dbo].[Produkty] ([IdProduktu])
GO
ALTER TABLE [dbo].[PozycjeZamowienia]  WITH CHECK ADD FOREIGN KEY([IdZamowienia])
REFERENCES [dbo].[Zamowienia] ([IdZamowienia])
GO
ALTER TABLE [dbo].[Pracownicy]  WITH CHECK ADD FOREIGN KEY([IdStanowiska])
REFERENCES [dbo].[Stanowiska] ([IdStanowiska])
GO
ALTER TABLE [dbo].[Produkty]  WITH CHECK ADD FOREIGN KEY([IdKategorii])
REFERENCES [dbo].[Kategorie] ([IdKategorii])
GO
ALTER TABLE [dbo].[Produkty]  WITH CHECK ADD FOREIGN KEY([IdProducenta])
REFERENCES [dbo].[Producenci] ([IdProducenta])
GO
ALTER TABLE [dbo].[SzczegolyDostawy]  WITH CHECK ADD FOREIGN KEY([IdDostawy])
REFERENCES [dbo].[Dostawy] ([IdDostawy])
GO
ALTER TABLE [dbo].[SzczegolyDostawy]  WITH CHECK ADD FOREIGN KEY([IdProduktu])
REFERENCES [dbo].[Produkty] ([IdProduktu])
GO
ALTER TABLE [dbo].[Zamowienia]  WITH CHECK ADD FOREIGN KEY([IdKlienta])
REFERENCES [dbo].[Klienci] ([IdKlienta])
GO
ALTER TABLE [dbo].[Zamowienia]  WITH CHECK ADD FOREIGN KEY([IdStatusu])
REFERENCES [dbo].[Statusy] ([IdStatusu])
GO
ALTER TABLE [dbo].[Opinie]  WITH CHECK ADD CHECK  (([Ocena]>=(1) AND [Ocena]<=(5)))
GO
