USE [Studenci_72228]
GO
/****** Object:  Table [dbo].[ocena]    Script Date: 18.01.2026 21:59:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ocena](
	[ocena_id] [int] IDENTITY(1,1) NOT NULL,
	[wartosc] [float] NOT NULL,
	[przedmiot] [varchar](64) NOT NULL,
	[student_id] [int] NOT NULL,
 CONSTRAINT [PK_ocena] PRIMARY KEY CLUSTERED 
(
	[ocena_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student]    Script Date: 18.01.2026 21:59:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student](
	[student_id] [int] IDENTITY(1,1) NOT NULL,
	[imie] [varchar](64) NOT NULL,
	[nazwisko] [varchar](64) NOT NULL,
 CONSTRAINT [PK_student] PRIMARY KEY CLUSTERED 
(
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ocena] ON 

INSERT [dbo].[ocena] ([ocena_id], [wartosc], [przedmiot], [student_id]) VALUES (1, 5, N'j. polski', 1)
INSERT [dbo].[ocena] ([ocena_id], [wartosc], [przedmiot], [student_id]) VALUES (2, 3.5, N'muzyka', 1)
INSERT [dbo].[ocena] ([ocena_id], [wartosc], [przedmiot], [student_id]) VALUES (3, 4.5, N'historia', 1)
SET IDENTITY_INSERT [dbo].[ocena] OFF
GO
SET IDENTITY_INSERT [dbo].[student] ON 

INSERT [dbo].[student] ([student_id], [imie], [nazwisko]) VALUES (1, N'Krzysiek', N'Pilsudski')
INSERT [dbo].[student] ([student_id], [imie], [nazwisko]) VALUES (2, N'Wojtek', N'Suchodolski')
INSERT [dbo].[student] ([student_id], [imie], [nazwisko]) VALUES (3, N'Tytus', N'Szyluk')
SET IDENTITY_INSERT [dbo].[student] OFF
GO
ALTER TABLE [dbo].[ocena]  WITH CHECK ADD  CONSTRAINT [FK_ocena_student] FOREIGN KEY([student_id])
REFERENCES [dbo].[student] ([student_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ocena] CHECK CONSTRAINT [FK_ocena_student]
GO
